body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8d2e7;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
}

.profile-section {
    text-align: center;
    padding: 20px;
}

.profile-pic {
    border-radius: 50%;
    width: 100px;
}

.claim-button {
    background-color: #ff5f99;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.function-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.function-button {
    background-color: #ff80b9;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid white;
    background-color: white;
}
